$assetPath : "/assets/images";

/*=========================================================
	HOME
===========================================================*/

.home {
    height: 100vh;
    position: relative;
    .section-bg{
      background-image: url(#{$assetPath}/background-img1.jpg);
  object-fit: cover;
    }

    &-wrapper{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: left;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &-content{
        >h1{
          text-transform: capitalize;
      font-weight: 900;
      color: #FFF;
        }
  
        >h4{
          color: #FFF;
        }
      }

      .jumbotron{
        background-color: rgba(224,224,224 ,0.25);
      }
    }

  
  }

  