/*=========================================================
	ABOUT
===========================================================*/

#numbers {
    margin-top: 60px;
  }
  
  .number {
    margin-bottom: 30px;
    h3 {
      font-size: 42px;
      margin-bottom: 0px;
      color: #dd0a37;
    }
    p {
      text-transform: uppercase;
      color: #0b0f28;
    }
  }