$assetPath : "/assets/images";

/*=========================================================
	HOME
===========================================================*/

#home {
    height: 100vh;
    position: relative;
  }

  #home .section-bg{

  background-image: url(#{$assetPath}/background-img1.jpg);
  object-fit: cover;
  }
  
  #home .home-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .home-content h1 {
    text-transform: capitalize;
    font-weight: 900;
    color: #FFF;
  }
  
  .home-content h4 {
    color: #FFF;
  }
  
  #page-wrapper {
    background-color: #F9F9FA;
  }
  
  .page-wrapper-content {
    text-align: center;
  }
  