<!-- Home -->
<div id="home">
  <!-- background image -->
  <div class="section-bg"></div>
  <!-- /background image -->

  <!-- home wrapper -->
  <div class="home-wrapper">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- home content -->
        <div class="col-md-8 col-md-offset-2">
          <div class="home-content">
            <h1>Lorem ipsum dolor sit amet</h1>
            <h4 class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
            <button mat-raised-button>SUBMIT</button>
          </div>
        </div>
        <!-- /home content -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /home wrapper -->
</div>
<!-- /Home -->